.anime-details-character .characters {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	justify-content: space-between;
	margin-bottom: 50px;
}
.anime-details-character .characters.full {
	column-gap: 1rem;
	justify-content: start;
}
