/* @import url('./custom.css'); */

:root {
	--bg-primary: rgba(11, 12, 42, 1);
	--bg-secondary: rgba(7, 7, 32, 1);
	--bg-ternary: rgba(37, 36, 64, 1);

	--text-primary: rgba(255, 255, 255, 1);
	--text-secondary: rgba(183, 183, 183, 1);

	--main-font: 'Mulish', sans-serif;
	--main-font-weight: 400;
	--header-font: 'Oswald', sans-serif;

	--active: rgba(229, 54, 55, 1);

	--grey: rgba(61, 61, 61, 1);
	--light-grey: rgba(255, 255, 255, 0.2);

	/* --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E"); */
}

/** || GENERAL STYLES */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-primary);
	font-family: var(--main-font);
	font-weight: var(--main-font-weight);
}

a {
	text-decoration: none;
	color: var(--text-primary);
}
a:hover,
a:visited {
	color: var(--text-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--text-primary);
	font-weight: 700;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: var(--grey);
	line-height: 25px;
	margin: 0 0 15px 0;
}

ol,
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

.primary-btn {
	font-size: 13px;
	color: var(--text-primary);
	background-color: var(--active);
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
}

.primary-btn:focus {
	border: none;
	box-shadow: none;
}

/** || SITEWIDE  */

/** || NAVBAR */
#navbar {
	background-color: var(--bg-secondary);
}

.header-logo {
	padding: 20px 0 17px;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* gap: 1rem; */
}

a.nav-link {
	color: var(--text-secondary);
	display: block;
	padding: 20px 30px !important;
	font-size: 15px;
	font-weight: 700;
	transition: all 0.5s;
}

a.nav-link:hover,
a.nav-link:focus {
	color: var(--text-primary);
	transition: all 0.5s;
}

a.nav-active {
	background-color: var(--active);
	color: var(--text-primary);
}

/* TODO maybe remove dropdown */
/* .toggle-btn {
	background-color: transparent !important;
	border: none !important;
	font-weight: inherit !important;
	font-size: 15px !important;
}
.toggle-btn:focus {
	box-shadow: none !important;
}
.dropdown-item {
	color: black !important;
}
.dropdown-item:hover {
	color: black !important;
}
.dropdown-item:active {
	background-color: var(--grey) !important;
} */
/** ///////////////////////////////////////  */

.header-right {
	text-align: right;
	padding: 20px 0 15px;
}

#search {
	margin-right: 24px;
}

#profile {
	display: inline-block;
	position: relative;
}

.profile-menu {
	position: absolute;
	background-color: white;
	top: 42px;
	right: -7px;
	width: 200px;
	z-index: 2;
	padding: 20px 5px;
}

.profile-menu::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	top: -8px;
	right: 12px;
	transform: rotate(45deg);
}
.profile-menu-item {
	background-color: red;
	text-align: start;
	padding: 5px 0;
}

.profile-menu-item:hover {
	background-color: blue;
}

.collapse-btn {
	display: none;
	height: 40px;
	padding: 0.25rem 0.75rem;
	margin-left: 16px;
	font-size: 14px;
}

.collapse-btn svg {
	margin-left: 8px;
}

.nav-collapse-menu {
	padding: 1rem 0;
	background-color: white;
}

.nav-collapse-item:hover {
	background-color: #ddd;
}

a.nav-collapse-link {
	display: inline-block;
	color: black;
	width: 100%;
	padding: 7px 0;
	padding-left: 20px;
}

.breadcrumb-container {
	background-color: var(--bg-primary);
	padding: 1rem 0;
}

/** OVERRIDE of bootstrap breadcrumb classes */
.breadcrumb {
	margin-bottom: 0;
}

.breadcrumb-item {
	font-size: 15px;
}

.breadcrumb-item + .breadcrumb-item::before {
	font-family: 'FontAwesome';
	content: '\f105';
	color: var(--active);

	/* TODO check for vertical position */
	/* font-size: 16px; */
}

.breadcrumb-item.active {
	color: var(--text-secondary);
}

.breadcrumb-item:hover:not(.active) {
	text-decoration: underline;
}

.fa-home {
	margin-right: 5px;
	color: var(--active);
}

/** || CAROUSEL  */

.carousel-image-container {
	display: flex;
	justify-content: center;
}

.carousel-image {
	height: 400px;
}

.carousel-control-prev {
	width: auto;
	opacity: 1 !important;
	left: -33px;
}
.carousel-control-next {
	width: auto;
	opacity: 1 !important;
	right: -33px;
}

.carousel-control-prev-icon-holder,
.carousel-control-next-icon-holder {
	transform: rotate(45deg);
	font-size: 22px;
	background-color: var(--bg-primary);
	width: 66px;
	height: 66px;
	display: flex;
}

.carousel-control-prev-icon-holder::after,
.carousel-control-next-icon-holder::after {
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	height: 54px;
	width: 54px;
	/* top: 6px;
	right: 6px; */
	margin: 6px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-image: none; /** Default arrows are rendered as bg-image*/
	margin: auto;
	transform: rotate(-45deg);
}

.carousel-indicators {
	margin-bottom: 10px;
}
.carousel-indicators [data-bs-target] {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	margin-right: 10px;
}

.carousel-caption {
	right: 8%;
	left: 8%;
	bottom: 5%;
}

.carousel-caption-container {
	text-align: start;
	padding: 0 10px;
}

.hero-anime-tag {
	font-size: 13px;
	padding: 5px 14px 3px;
	background-color: white;
	color: var(--active);
	display: inline-block;
	margin-right: 4px;
	margin-top: 4px;
}

.hero-anime-title {
	margin-top: 20px;
	font-family: var(--header-font);
	font-size: 42px;
	/* background-color: rgba(0, 0, 0, 0.6); */
}

.hero-anime-button {
	margin-top: 30px;
	display: block;
	height: 47px;
}
.hero-anime-button span {
	background-color: var(--active);
	display: inline-block;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 4px;
}
.hero-anime-button i {
	font-size: 22px;
	vertical-align: middle;
	background-color: var(--active);
	display: inline-block;
	padding: 13px 4px 12px 6px;
	border-radius: 0 4px 4px 0;
}

/* TODO start work here */

/** SECTION **/

.section-title {
	margin-bottom: 30px;
}
.section-title h4,
.section-title h5 {
	font-family: 'Oswald', sans-serif;
	color: var(--text-primary);
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
}
.section-title h4::after,
.section-title h5::after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: var(--active);
	content: '';
}
.button-all {
	text-align: right;
	margin-bottom: 30px;
}
.fa-long-arrow-alt-right {
	margin-left: 20px;
	font-size: 18px;
}
.anime-card {
	margin-bottom: 30px;
}
.anime-card-image {
	position: relative;
}
.anime-card-image img {
	width: 100%;
	height: 375px;
	border-radius: 5px;
}
.episodes {
	position: absolute;
	font-size: 13px;
	background-color: var(--active);
	color: white;
	padding: 2px 12px;
	border-radius: 4px;
	left: 10px;
	top: 10px;
	font-weight: 400;
	display: inline-block;
}
.view {
	position: absolute;
	font-size: 13px;
	background-color: var(--grey);
	color: white;
	padding: 2px 10px;
	border-radius: 4px;
	left: 10px;
	bottom: 10px;
	font-weight: 400;
	display: inline-block;
}

.more-options {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 13px;
	background-color: var(--active);
	color: white;
	padding: 2px 12px;
	border-radius: 4px;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
	visibility: hidden;
	transition: visibility 0.15s ease-in-out;
}

.anime-card-image:hover > .more-options {
	visibility: visible;
}

.more-options.show {
	visibility: visible;
}

.more-options-menu {
	position: absolute;
	top: 33px;
	right: 10px;
	background-color: white;
	visibility: hidden;
	transition: visibility 0.15s ease-in-out;
}

.more-options-menu.show {
	visibility: visible;
}

.anime-card-text {
	padding-top: 20px;
	word-wrap: break-word;
}
.anime-card-text ul {
	padding: 0;
	list-style: none;
	margin-bottom: 10px !important;
}
.anime-card-text ul li {
	font-size: 10px;
	color: white;
	padding: 1px 10px;
	background-color: var(--grey);
	border-radius: 50px;
	display: inline-block;
	margin-right: 4px;
}
.anime-card-text h5 {
	font-size: 18px;
}
.anime-card-text h5 a {
	line-height: 26px;
}

/** SIDE SECTION  **/

.sidebar-view {
	position: relative;
	margin-bottom: 80px;
}
.sidebar-view .filter {
	position: absolute;
	right: 0;
	top: -5px;
}
.sidebar-view .filter li {
	list-style: none;
	font-size: 13px;
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
	color: var(--text-secondary);
}
.sidebar-view .filter li.active {
	color: white;
}

.side-anime-card {
	height: 190px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 0px -70px 10px 0px rgba(0, 0, 0, 0.5) inset;
}

.side-anime-card .view {
	left: unset;
	bottom: unset;
	right: 10px;
	top: 10px;
}
.side-anime-card h5 {
	position: absolute;
	bottom: 25px;
	width: 100%;
	padding: 0 30px 0 20px;
}

/** FOOTER  **/
.footer {
	background-color: var(--bg-secondary);
	padding-top: 60px;
	padding-bottom: 40px;
	position: relative;
}

.page-up {
	position: absolute;
	left: 50%;
	top: -25px;
	margin-left: -25px;
}
.page-up:hover {
	cursor: pointer;
}

.page-up span {
	display: inline-block;
	font-size: 24px;
	color: white;
	height: 50px;
	width: 50px;
	background-color: var(--active);
	text-align: center;
	border-radius: 50%;
}
.page-up span i {
	position: relative;
	top: 5px;
}
.footer-nav {
	text-align: center;
}

.footer-nav ul {
	list-style: none;
}
.footer-nav ul li {
	display: inline-block;
	position: relative;
	margin-right: 40px;
}

.footer-nav ul li a {
	font-size: 15px;
	color: var(--grey);
	display: block;
}

/** AUTH FORM **/
.auth {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.auth h2 {
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	/* margin-bottom: 22px; */
}

.auth-form {
	position: relative;
	/* padding-left: 225px; */
	padding-right: 40px;
}
.auth-form h3 {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 30px;
}

.auth-form p {
	color: var(--active);
	margin: 0;
}

.auth-form button {
	border-radius: 0;
	margin-top: 10px;
}

.auth-form::after {
	position: absolute;
	right: -14px;
	top: -20px;
	width: 1px;
	height: 590px;
	background-color: var(--light-grey);
	content: '';
}

.input-item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}
.input-item::before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background-color: var(--text-secondary);
	content: '';
}

.input-item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: var(--text-secondary);
	background-color: white;
	border: none;
	padding-left: 76px;
}
.input-item input::placeholder {
	color: var(--text-secondary);
	font-weight: 400;
}

.input-item-icon {
	color: var(--text-secondary);
	font-size: 24px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.h-6.input-item-icon {
	height: 28px;
	left: 12px;
}

.social-links li {
	list-style: none;
	margin-bottom: 15px;
}

.social-links li:last-child {
	margin-bottom: 0;
}

.social-links li a {
	color: white;
	display: block;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 460px;
	padding: 14px 0;
	margin: 0;
	position: relative;
	text-align: center;
}
.social-links li a:hover {
	text-decoration: none;
}

.social-links li a i {
	font-size: 20px;
	position: absolute;
	left: 32px;
}

.social-links li a.facebook {
	background-color: #4267b2;
}
.social-links li a.google {
	background-color: #ff4343;
}
.social-links li a.twitter {
	background-color: #1da1f2;
}

/** SIGN UP **/

.sign-up-form h5 {
	font-size: 15px;
	margin-top: 36px;
}
.sign-up-form h5 a {
	color: var(--active);
}

.social-links.sign-up {
	text-align: left;
	padding-left: 40px;
}

.social-links.sign-up h3 {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 30px;
}

/** /////////////////////////////////////////////////////// **/

/** LOGIN FORM **/
.auth-form.login-form::after {
	height: 340px;
}
.forgot-pass {
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
}

.login-register {
	padding-left: 30px;
}

.login-register h3 {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 30px;
}

.login-register .primary-btn {
	padding: 12px 42px;
	border-radius: 0;
}

.social-links.login {
	padding-top: 72px;
}

.social-links.login .row {
	display: flex;
	justify-content: center;
}

.social-links.login li a {
	margin: 0 auto;
}

.social-links.login span {
	color: white;
	display: block;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

/** ANIME DETAILS **/
.anime-details-content {
	margin-bottom: 65px;
}
.anime-details-img {
	position: relative;
	border-radius: 5px;
	height: 440px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.anime-details-img .comments {
	font-size: 13px;
	color: white;
	background-color: var(--grey);
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	bottom: 25px;
	font-weight: 400;
}
.anime-details-img .view {
	font-size: 13px;
	color: white;
	background-color: var(--grey);
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 25px;
	left: unset;
}

.anime-details-title {
	margin-bottom: 20px;
}
.anime-details-title h3 {
	margin-bottom: 13px;
}

.anime-details-title span {
	font-size: 15px;
	color: var(--text-secondary);
	display: block;
}
.anime-details-rating {
	text-align: center;
}

.anime-details-rating .rating .fa-star {
	font-size: 24px;
	color: #e89f12;
}

.anime-details-rating span {
	font-size: 18px;
	color: var(--text-secondary);
	font-weight: 400;
}

.anime-details-description p {
	color: var(--text-secondary);
	font-size: 18px;
	line-height: 30px;
}

.anime-details-info {
	margin-bottom: 15px;
}
.anime-details-info ul {
	margin-bottom: 20px;
}
.anime-details-info ul li {
	list-style: none;
	font-size: 15px;
	color: white;
	line-height: 30px;
	position: relative;
	padding-left: 18px;
}

.anime-details-info ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 12px;
	height: 6px;
	width: 6px;
	background-color: var(--text-secondary);
}

.anime-details-info ul li span {
	color: var(--text-secondary);
	width: 115px;
	display: inline-block;
	font-weight: 400;
}
.anime-details-info ul li p {
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	color: white;
	margin: 0;
}
.anime-details-buttons button {
	border-radius: 4px;
	padding: 14px 20px;
	margin-right: 11px;
}

.anime-details-buttons a span {
	font-size: 13px;
	color: white;
	background-color: var(--active);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 5px;
}

.anime-details-buttons .fa-angle-right {
	display: inline-block;
	background-color: var(--active);
	padding: 14px 5px 17px 8px;
	color: white;
	border-radius: 0 4px 4px 0;
}

.anime-details-tags {
	margin-bottom: 50px;
}

.anime-details-tags .tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.anime-details-tags .tag {
	background-color: var(--bg-ternary);
	padding: 0.5rem 0.7rem;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: 400;
}

.anime-details-character .characters {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	justify-content: space-between;
}
.characters .character-card {
	width: 420px;
	height: 100px;
	padding: 4px;
	background-color: var(--bg-ternary);
	border-radius: 8px;
}

.characters .character-card .character-card-link:hover {
	text-decoration: none;
}

.characters .character-card .character-card-link:hover .name {
	color: var(--active);
	transition: color 0.15s ease-in;
}

.characters .character-card .character-card-left,
.characters .character-card .character-card-right {
	height: 92px;
	display: flex;
}

.characters .character-card .character-card-left img {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 100%;
}
.characters .character-card .character-card-right img {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 100%;
}

.characters .character-card .character-card-left .description,
.characters .character-card .character-card-right .description {
	flex: 1;
	width: 50%;
	padding: 0px 8px;
	word-wrap: break-word;
}

.characters .character-card .character-card-right .description {
	margin-top: auto;
	text-align: end;
}

.character-card-left .description .content,
.character-card-right .description .content {
	display: flex;
	align-items: center;
}

.character-card-right .description .content {
	justify-content: flex-end;
}

.character-card-left .description i {
	margin-right: 6px;
	font-size: 26px;
	color: white;
}

.character-card-right .description i {
	margin-left: 6px;
	font-size: 26px;
	color: white;
}
.character-card-left .description .role,
.character-card-right .description .role {
	font-size: 12px;
	color: var(--text-secondary);
	font-weight: 400;
}

.character-card-left .description .name,
.character-card-right .description .name {
	color: white;
	font-weight: 400;
}

/** //////////////////////////////  **/

/** Watch list **/

.watchlist .primary-btn {
	font-size: 12px;
	padding: 4px 8px;
}

/** Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
} */

/** Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
} */

/** Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {

} */

/** X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */

/** XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
} */

@media (max-width: 768px) {
	.hero-anime-title {
		font-size: 32px;
	}
}

/** X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.hero-anime-title {
		font-size: 24px;
	}
}

/** Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/** Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.collapse-btn {
		display: inline-block;
	}
	.header-col-middle {
		display: none;
	}
}

/** Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/** X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* @media only screen and (max-width: 1400px) {
	.characters .character-card {
		width: 360px;
	}
} */

/* @media only screen and (max-width: 1200px) {
	.carousel-caption {
		left: 8% !important;
	}

	.characters .character-card {
		width: 300px;
	}
} */

/* @media only screen and (min-width: 992px) {
	.collapse-btn {
		display: none;
	}
	.header-col-middle {
		display: inline;
	}
	.carousel-caption {
		left: 12% !important;
	}

	.characters .character-card {
		width: 100%;
	}
} */
/* @media only screen and (min-width: 992px) {
	.collapse-btn {
		display: none;
	}
	.collapse {
		display: none;
	}
} */

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.social-links li a {
		width: 380px;
	}
} */

/* @media only screen and (max-width: 991px) {
	.auth-form {
		margin-bottom: 40px;
		width: 100%;
		padding-right: 0;
	}
	.auth-form::after {
		content: none;
	}
	.auth-form .input-item {
		width: auto;
	}

	.social-links.sign-up {
		padding-left: 0;
	}
	.social-links.sign-up li a {
		width: auto;
	}

	.login-register {
		padding-left: 0;
	}

	.anime-details-sidebar {
		margin-top: 50px;
	}
} */

/* @media only screen and (max-width: 767px) {
	.button-all {
		text-align: left;
	}
	.anime-details-character .button-all {
		text-align: right;
	}

	.footer-logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer-nav {
		margin-bottom: 15px;
	}
	.social-links.login li a {
		width: auto;
	}
	.anime-details-img {
		margin-bottom: 40px;
	}
	.anime-details-rating {
		display: inline-block;
	}
} */

/* @media only screen and (min-width: 768px) and (max-width: 991px) {
	.anime-details-img {
		margin-bottom: 40px;
	}
} */
/* @media only screen and (max-width: 576px) {
	.anime-details-character .button-all {
		text-align: left;
	}
} */

@import '~bootstrap/dist/css/bootstrap.min.css';
