.search-result .section-header {
	position: relative;
	padding-bottom: 15px;
	border-bottom: 2px solid var(--light-grey);
}

.search-result .section-header .order-by span {
	margin-right: 10px;
	color: var(--text-secondary);
}

.search-result .section-header .order-by select {
	padding: 4px;
}

.search-result .search-query {
	position: absolute;
	top: calc(100% + 6px);
	color: var(--text-secondary);
}

.search-result .inline-pagination {
	position: absolute;
	top: calc(100% + 6px);
	right: 0;
}

.search-result .inline-pagination::before {
	content: '[';
	color: white;
}

.search-result .inline-pagination::after {
	content: ']';
	color: white;
}

.search-result .inline-pagination .pagination-indicator {
	display: inline-block;
	margin-right: 10px;
	color: var(--text-primary);
	cursor: pointer;
}

.search-result .inline-pagination .pagination-indicator:hover {
	text-decoration: underline;
}

.search-result .inline-pagination .pagination-indicator.current {
	color: var(--active);
	text-decoration: underline;
	pointer-events: none;
}

.search-result .inline-pagination .pagination-indicator:first-child {
	margin-left: 10px;
}

.search-result .pagination {
	display: flex;
	justify-content: center;
}

.search-result .pagination .pagination-indicator {
	display: inline-block;
	font-size: 15px;
	color: var(--text-secondary);
	font-weight: 600;
	height: 50px;
	width: 50px;
	border: 1px solid transparent;
	border-radius: 50%;
	line-height: 48px;
	text-align: center;
	transition: all 0.3s;
}

.search-result .pagination .pagination-indicator.current {
	border: 1px solid white;
}

.search-result .pagination .pagination-indicator:not(.current):hover {
	color: white;
}
