.select {
	position: relative;
}
.select-button {
	background-color: var(--bg-ternary);
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	color: var(--text-primary);
	font-size: 14px;
	height: 44px;
}
.select-button > div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.select-button-content {
	margin-right: 10px;
}

.select-button-content .tag {
	background-color: rgba(229, 54, 55, 0.5);
	color: var(--text-primary);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 4px;
}
.select-button-content .title {
	font-size: 16px;
}
.select-button svg {
	font-size: 12px;
}

.select-menu {
	width: 100%;
	background-color: var(--bg-ternary);
	position: absolute;
	top: calc(100% + 4px);
	z-index: 2;
	border-radius: 4px;
	/* TODO custom scrollbar */
	overflow-y: auto;
	transform: scale(0.95);
	transform: translateY(-10px);
	max-height: 400px;
	height: 0;
	opacity: 0;
	transition: opacity 0.15s ease-out, transform 0.15s ease-out,
		height 0.15s ease-out;
}

.select-menu ul {
	margin: 8px;
}

.select-menu li {
	padding: 8px 16px;
	margin-top: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	transition: all 0.3s;
	color: var(--text-primary);
	font-size: 15px;
}
.select-menu li:hover {
	background-color: white;
	color: black;
}

.select-menu li.selected {
	background-color: white;
	color: black;
}
.select-menu li.selected:hover {
	background-color: var(--active);
	color: black;
}

.select-menu.show {
	height: max-content;
	opacity: 1;
	transform: scale(1);
}

/** Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.select-button {
		font-size: 14px;
	}

	.select {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.select-menu.show {
		width: 100%;
		max-height: 300px;
	}
}
