.anime-card {
	margin-bottom: 30px;
}
.anime-card-image {
	position: relative;
}
.anime-card-image img {
	width: 100%;
	aspect-ratio: 1 / 1.5;
	object-fit: cover;
	border-radius: 5px;
}

.anime-card-image-overlay {
	position: absolute;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	color: white;
	background-color: var(--active);
	padding: 2px 12px;
	border-radius: 4px;
}

.anime-card-image-overlay.episodes {
	left: 10px;
	top: 10px;
}
.anime-card-image-overlay.view {
	left: 10px;
	bottom: 10px;
}
.anime-card-image-overlay > svg {
	margin-right: 4px;
}

.anime-card-image-overlay.more-options {
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.anime-card-image-overlay.more-options > svg {
	margin-right: 0;
}
.anime-card-image-overlay.more-options .dropdown-menu {
	top: calc(100% + 14px);
	min-width: 0;
	width: 100px;
}

.anime-card-image-overlay.more-options .dropdown-menu::before {
	right: 6px;
}

.anime-card-image-overlay.more-options .dropdown-menu-item {
	font-size: 14px;
}

.anime-card-text {
	margin-top: 15px;
}
.anime-card-text ul {
	margin-bottom: 10px;
}

.anime-card-text ul li {
	display: inline-block;
}

.anime-card-text ul li a {
	display: inline-block;
	font-size: 10px;
	color: white;
	background-color: var(--light-grey);
	padding: 1px 10px;
	margin-right: 4px;
	border-radius: 50px;
	cursor: pointer;
}

.anime-card-text h5 {
	/** ellipsis when title is longer than 2 lines  */
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 18px;
}
.anime-card-text h5 a {
	line-height: 26px;
}
.anime-card-text h5 a:hover {
	text-decoration: underline;
}
.watchlist .anime-card-image img,
.favorites .anime-card-image img,
.search-result .anime-card-image img {
	height: 425px;
}

/** Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.anime-card-image img {
		height: 425px;
	}
}

/** Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.anime-card-image img {
		height: 375px;
	}
	.watchlist .anime-card-image img,
	.favorites .anime-card-image img,
	.search-result .anime-card-image img {
		height: 375px;
	}
}

/** X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.anime-card {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.anime-card-image img {
		height: 475px;
	}
	.watchlist .anime-card-image img,
	.favorites .anime-card-image img,
	.search-result .anime-card-image img {
		height: 475px;
	}
}
