.auth {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.auth h2 {
	font-size: 48px;
	font-family: var(--header-font);
}

.auth-form {
	position: relative;
	padding-right: 40px;
}
.auth-form h3 {
	font-family: var(--header-font);
	margin-bottom: 30px;
}

.auth-form p {
	color: var(--active);
	margin: 0;
}

.auth-form button {
	border-radius: 0;
	margin-top: 10px;
}

.auth-form::after {
	position: absolute;
	right: -14px;
	top: -20px;
	width: 1px;
	height: 590px;
	background-color: var(--light-grey);
	content: '';
}

.input-item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}
.input-item::before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background-color: var(--text-secondary);
	content: '';
}

.input-item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	font-weight: 500;
	color: black;
	background-color: var(--text-primary);
	border: none;
	padding-left: 76px;
}
.input-item input::placeholder {
	color: var(--text-secondary);
}

.input-item-icon {
	color: var(--text-secondary);
	font-size: 24px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.social-links li {
	margin-bottom: 15px;
}

.social-links li:last-child {
	margin-bottom: 0;
}

.social-links li a {
	color: white;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 460px;
	padding: 14px 0;
	margin: 0;
	position: relative;
	text-align: center;
}

.social-links li a svg {
	font-size: 20px;
	position: absolute;
	left: 32px;
}

.social-links li a.facebook {
	background-color: #4267b2;
}
.social-links li a.google {
	background-color: #ff4343;
}
.social-links li a.twitter {
	background-color: #1da1f2;
}

/** Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.auth-form {
		margin-bottom: 40px;
		width: 100%;
		padding-right: 0;
	}
	.auth-form::after {
		content: none;
	}
	.auth-form .input-item {
		width: auto;
	}

	.social-links li a {
		width: auto;
	}
}
