.section-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.section-title h4,
.section-title h5,
.section-title h2 {
	font-family: var(--header-font);
	color: var(--text-primary);
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
}
.section-title h4::after,
.section-title h5::after {
	content: '';
	background: var(--active);
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
}

.section-button-all {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid transparent;
}

.section-button-all:hover {
	border-bottom: 1px solid white;
}

.section-button-all a {
	display: block;
}
.section-button-all a > svg {
	margin-left: 10px;
	font-size: 18px;
}

/** || SECTION WITH SEARCH **/
.section-search input {
	color: white;
	background-color: var(--bg-ternary);
	border-color: transparent;
	padding: 4px 10px;
	border-radius: 50px;
	border-radius: 5px;
}

.no-results {
	width: 100%;
	text-align: center;
	color: var(--text-secondary);
}
